PYTHON PROGRAMMING : EXPERIMENT_1

NAME: HARSHVARDHAN SINGH PARIHAR

SAP_ID: 590029374

 #1 Install Python and write the steps of installation and understand difference between scripting and interactive modes in IDLE.

1. Download the Installer:
   Visit the official Python downloads page and click the button for the latest version (e.g., Python 3.13+).
2. Run the Setup File:
   Double-click the downloaded .exe (Windows) or .pkg (macOS) file to launch the installation wizard.
3. Critical Step (Windows Only):
   Check the box that says "Add Python to PATH" before clicking "Install Now." This allows you to run Python from any command prompt.
4. Complete Installation:
   Click "Install Now" and follow the prompts. Once finished, you will see a "Setup was successful" message.
5. Verify Installation:
   Open your Terminal or Command Prompt and type python --version. If installed correctly, it will display the version number.

In [ ]:
#2 Create a variable to store your age and print its type using type().
a=int(input("enter your age"))
print(type(a))

enter your age645
<class 'int'>

In [ ]:
#3 Declare a string variable called x and assign it the value “Hello”.
x=str()
x="Hello"
print(x)

Hello

In [ ]:
#4 Take different data types and print values using print function.
a='hello'
b=47
print(a,b)

hello 47

In [ ]:
#5 Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform addition, multiplication, division and subtraction on these two variables and Print out the result.
x,y=9,7
z=x+y
print(z)
z=0
z=x-y
print(z)
z=x*y
print(z)
z=x/y
print(z)

16
2
63
1.2857142857142858

In [ ]:
#6 Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.
b=int(input("Enter base"))
h=int(input("Enter height"))
c=(b**2+h**2)**0.5
print("Hypotenuse is",c)

Enter base6
Enter height4
Hypotenuse is 7.211102550927978

In [ ]:
#7 Write a program to find simple interest.
p=int(input("Enter principle"))
r=int(input("Enter rate"))
t=int(input("Enter time"))
si=(p*r*t)/100
print("Simple Interest is",si)

Enter principle25
Enter rate4
Enter time854
Simple Interest is 854.0

In [ ]:
#8 Write a program to find area of triangle when length of sides are given.
l=int(input("Enter length"))
b=int(input("Enter breadth"))
area=(l*b)/2
print(area)

Enter length4
Enter breadth58
116.0

In [ ]:
#9 Write a program to convert given seconds into hours, minutes and remaining seconds.
sec=int(input("Enter seconds:"))
hours=sec//3600
minutes=(sec%3600)//60
seconds=(sec%3600)%60
print(hours,":",minutes,":",seconds)

Enter seconds:8460
2 : 21 : 0

In [ ]:
#10 Write a program to swap two numbers without taking additional variable.
a=int(input("Enter first number"))
b=int(input("Enter second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

Enter first number8
Enter second number10
10 8

In [ ]:
#11 Write a program to find sum of first n natural numbers.
n=int(input("Enter number"))
s=0
for i in range(1,n+1,1):
  s=s+i
  i=i+1
print(s)

Enter number10
55

In [ ]:
#12 Write a program to print truth table for bitwise operators (&, | and ^ operators)
print("Bitwise AND (&)")
print("A | B | A & B")
print("-" * 13)
print(f"0 | 0 | {0 & 0}")
print(f"0 | 1 | {0 & 1}")
print(f"1 | 0 | {1 & 0}")
print(f"1 | 1 | {1 & 1}")

print("\nBitwise OR (|)")
print("A | B | A | B")
print("-" * 13)
print(f"0 | 0 | {0 | 0}")
print(f"0 | 1 | {0 | 1}")
print(f"1 | 0 | {1 | 0}")
print(f"1 | 1 | {1 | 1}")

print("\nBitwise XOR (^)")
print("A | B | A ^ B")
print("-" * 13)
print(f"0 | 0 | {0 ^ 0}")
print(f"0 | 1 | {0 ^ 1}")
print(f"1 | 0 | {1 ^ 0}")
print(f"1 | 1 | {1 ^ 1}")

Bitwise AND (&)
A | B | A & B
-------------
0 | 0 | 0
0 | 1 | 0
1 | 0 | 0
1 | 1 | 1

Bitwise OR (|)
A | B | A | B
-------------
0 | 0 | 0
0 | 1 | 1
1 | 0 | 1
1 | 1 | 1

Bitwise XOR (^)
A | B | A ^ B
-------------
0 | 0 | 0
0 | 1 | 1
1 | 0 | 1
1 | 1 | 0

In [ ]:
#13 Write a program to find left shift and right shift values of a given number.
def bitwise_shifts(number, shift_count):
    left_shifted_value = number << shift_count
    right_shifted_value = number >> shift_count

    print(f"Original number: {number}")
    print(f"Shift count: {shift_count}")
    print("-" * 30)
    print(f"Left shift result ({number} << {shift_count}): {left_shifted_value}")
    print(f"Right shift result ({number} >> {shift_count}): {right_shifted_value}")
my_number = 20
my_shift = 2

bitwise_shifts(my_number, my_shift)

Original number: 20
Shift count: 2
------------------------------
Left shift result (20 << 2): 80
Right shift result (20 >> 2): 5

In [ ]:
#14 Using membership operator find whether a given number is in sequence (10,20,56,78,89)
sequence = (10, 20, 56, 78, 89)
number_to_find = 56
if number_to_find in sequence:
  print(f"{number_to_find} is in the sequence.")
else:
  print(f"{number_to_find} is not in the sequence.")
another_number = 99
if another_number in sequence:
  print(f"{another_number} is in the sequence.")
else:
  print(f"{another_number} is not in the sequence.")

56 is in the sequence.
99 is not in the sequence.